[submodule "tree-sitter-python"]
	path = tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python/
[submodule "tree-sitter-javascript"]
	path = tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript/
[submodule "tree-sitter-rust"]
	path = tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust/
[submodule "tree-sitter-typescript"]
	path = tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript/
[submodule "tree-sitter-cpp"]
	path = tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
