[package]
name = "rust-code-analysis"
version = "0.0.2"
authors = ["Calixte Denizet <cdenizet@mozilla.com>"]
edition = "2018"
build = "build.rs"

[build-dependencies]
cc = "^1.0.37"
phf_codegen = "^0.7"

[dependencies]
actix-http = "^0.2"
actix-rt = "^0.2"
actix-web = {version = "^1.0", features = ["ssl"]}
aho-corasick = "^0.7"
bytes = "^0.4"
clap = "^2.33"
enum-iterator = "^0.3"
globset = "^0.4"
json = "^0.11"
tree-sitter = "^0.3.10"
termcolor = "^1.0"
crossbeam = "^0.7"
lazy_static = "^1.3"
num_cpus = "^1.10"
num-format = "^0.4"
petgraph = "^0.4.13"
phf = { version = "0.7.24", features = ["macros"] }
regex = "^1.1"
serde = "^1.0"
serde_json = "^1.0"
walkdir = "^2.2"

[dev-dependencies]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = "unwind"
incremental = false
overflow-checks = false
