[package]
name = "rust-code-analysis"
version = "0.0.23"
authors = ["Calixte Denizet <cdenizet@mozilla.com>"]
edition = "2018"
repository = "https://github.com/mozilla/rust-code-analysis"
documentation = "https://docs.rs/rust-code-analysis/"
readme = "README.md"
keywords = ["metrics"]
description = "Tool to compute and export code metrics"
license = "MPL-2.0"
build = "build.rs"

[build-dependencies]
phf_codegen = "^0.10"

[dependencies]
aho-corasick = "^0.7"
enum-iterator = "^0.7"
fxhash = "0.2"
lazy_static = "^1.3"
num-format = "^0.4"
num = "^0.4"
num-derive = "^0.3"
num-traits = "^0.2"
petgraph = "^0.6"
phf = { version = "^0.8", features = ["macros"] }
regex = "^1.5"
serde = { version = "^1.0", features = ["derive"] }
termcolor = "^1.1"

tree-sitter = "0.19.3"
tree-sitter-java = "0.19.0"
tree-sitter-typescript = "0.19.0"
tree-sitter-javascript = "0.19.0"
tree-sitter-python = "0.19.0"
tree-sitter-rust = "0.19.0"
tree-sitter-preproc = { path = "./tree-sitter-preproc", version = "0.19.0" }
tree-sitter-ccomment = { path = "./tree-sitter-ccomment", version = "0.19.0" }
tree-sitter-mozcpp = { path = "./tree-sitter-mozcpp", version = "0.19.5" }
tree-sitter-mozjs = { path = "./tree-sitter-mozjs", version = "0.19.0" }

[dev-dependencies]
pretty_assertions = "^0.7"

[workspace]
members = ["rust-code-analysis-cli", "rust-code-analysis-web"]
exclude = ["enums"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = "unwind"
incremental = false
overflow-checks = false
