[package]
name = "rust-code-analysis"
version = "0.0.11"
authors = ["Calixte Denizet <cdenizet@mozilla.com>"]
edition = "2018"
build = "build.rs"

[build-dependencies]
cc = "^1.0"
phf_codegen = "^0.8"

[dependencies]
actix-rt = "^1.0"
actix-web = "^2.0"
aho-corasick = "^0.7"
bytes = "^0.5"
enum-iterator = "^0.6"
futures = "^0.3"
fxhash = "0.2"
json = "^0.12"
lazy_static = "^1.3"
num-format = "^0.4"
petgraph = "^0.5"
phf = { version = "^0.8", features = ["macros"] }
regex = "^1.1"
serde = "^1.0"
serde_json = "^1.0"
termcolor = "^1.0"
tree-sitter = "^0.6"

[dev-dependencies]
pretty_assertions = "^0.6"

[workspace]
members = ["rust-code-analysis-cli"]
exclude = ["enums"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = "unwind"
incremental = false
overflow-checks = false
